<!DOCTYPE html>
<html lang="en">
<head>
	<title>vim is sexy</title>
	<link href='http://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="/css/vim.css">
	<link rel="icon" href="/img/favicon.ico" type="image/x-icon">
	<link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
	<meta http-equiv="content-language" content="en">
	<meta name="author" content="William Orr">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	<meta name="twitter:card" content="summary">
	<meta name="twitter:site" content="@worr">
	<meta name="twitter:creator" content="@worr">
	<meta name="twitter:title" content="Next-level robot-future text editing with Vim">
	<meta name="twitter:domain" content="vim.sexy">
	<meta name="twitter:image" content="http://vim.sexy/img/wsh_fucked_compressed.ong">
	<meta name="twitter:description" content="Your text editor is weak. Vim is the bad-mofo omakase editor that will kick you in the ass and optimize your workflow. Take it to the next level bro">

	<script async src="/js/vim.js" type="text/javascript"></script>
	<script async type="text/javascript">
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		ga('create', 'UA-11164924-6', 'vim.sexy');
		ga('send', 'pageview');
	</script>
</head>
<body>
	<nav id="nav-bar">
		<a href="/" class="home">vim.sexy</a>
		<ul id="nav">
			<li class="nav-item"><a href="#web">Web</a></li>
			<li class="nav-item"><a href="#features">Features</a></li>
			<li class="nav-item"><a href="#packages">Packages</a></li>
			<li class="nav-item"><a href="#compatibility">Compatibility</a></li>
			<li class="nav-item"><a href="#charity">Charity</a></li>
			<li class="nav-item"><a href="#invite">Invite</a></li>
		</ul>
	</nav>

	<div id="flash"></div>

	<section id="big-header">
		<h1>Code Beautifully</h1>
	</section>

	<a id="web"></a>
	<section id="web-section" class="odd">
		<div class="info-pane">
			<div class="first-column column">
				<h2>Web-Ready</h2>
				<p>
					Vim is all about the
					<span class="scare-text">modern web</span>.
					Vim will help
					<span class="scare-text">you</span>
					take your
					<span class="scare-text">web app</span>
					to the
					<span class="scare-text">next level</span>.
					You
					<span class="scare-text">know</span>
					node.js. Hell, you've
					<span class="scare-text">practically got a Ph.D</span>
					in slinging code. Why should you let your
					<span class="scare-text">text editor</span>
					get in the way?
				</p>
				<p>
					Vim comes with ready-made tools to format HTML, CSS, Javascript,
					Node.js, C++ and more. What happens when you suddenly need to pivot
					and create the next $19 billion 
					<span class="strikethrough">phone number database</span>
					messaging service?  Boom. Vim supports Erlang.
				</p>
				<p>
					<span class="scare-text">Bottom line</span>:
					Vim gets you out of the office and into the gym faster than any other editor to date.
				</p>
			</div>
			<div class="second-column column image-column">
				<img id="vim-img" class="image" src="/img/vim400x307.png" alt="vim screenshot" width="400" height="307">
			</div>
			<div style="clear: both;"></div>
		</div>
	</section>

	<a id="features"></a>
	<section id="features-section" class="even">
		<div class="info-pane">
			<div class="first-column column image-column">
				<img id="vim-img" class="image" src="/img/Vimlogo.svg" alt="vim logo" width="329" height="300">
			</div>
			<div class="second-column column">
				<h2>Full-stack Features</h2>
				<p>Vim is the world-class, lightweight champion of text editors</p>
				<ul>
					<li>Syntax highlighting</li>
					<li>Language-aware code folding</li>
					<li>Token completion</li>
					<li>Configurable keyboard shortcuts</li>
					<li>256 color support</li>
					<li>Easy command line acccess</li>
					<li>Enforce tabs or spaces per file</li>
					<li>GUI-Optional: works on servers</li>
					<li>100% Hackable</li>
				</ul>
			</div>
			<div style="clear: both;"></div>
		</div>
	</section>

	<a id="packages"></a>
	<section id="packages-section" class="odd">
		<div class="info-pane">
			<div class="first-column column">
				<h2>Yeah, there's an app for that</h2>
				<p>
					Vim is all about packages. Remix your Vim anyway you want.
				</p>
				<ul>
					<li>nodeunit integration</li>
					<li>jslint/jshint</li>
					<li>Ctags</li>
					<li>Filesystem browsing</li>
					<li><a href="https://code.google.com/p/zen-coding/">Zen Coding</a></li>
					<li>Markdown to HTML transformation</li>
					<li>Plugin package managers</li>
					<li><a href="https://github.com/Shadowfiend/liftweb-vim">It even lifts</a></li>
				</ul>
			</div>
			<div class="second-column column image-column">
				<img id="vim-img" class="image" src="/img/plug.png" alt="plug-ins" width="300" height="258">
			</div>
		</div>
		<div style="clear: both;"></div>
	</section>

	<a id="compatibility"></a>
	<section class="even">
		<div class="info-pane">
			<div class="first-column column image-column">
				<!-- Not my work. All attribution goes to the fine folk listed here: http://en.wikipedia.org/wiki/File:Tux.svg -->
				<img id="vim-img" class="image" src="/img/Tux.svg" alt="linux logo" width="259" height="300">
			</div>
			<div class="second-column column">
				<h2>Don't worry, it runs on OSX</h2>
				<p>
					Vim not only runs on your OS X dev machine, but also on your
					Ubuntu Linux servers.  This means you can
					<span class="scare-text">crush code in production</span>
					without sacrificing your
					<span class="scare-text">editing experience</span>.
				</p>
			</div>
			<div style="clear: both;"></div>
		</div>
	</section>

	<a id="charity"></a>
	<section class="odd">
		<div class="info-pane">
			<div class="first-column column">
				<h2>Pat yourself on the back</h2>
				<p>
					<span class="scare-text">Dudebro startups</span>
					like yours get shit from
					<span class="scare-text">angry feminists</span>
					all the time. Using Vim will put a stop to that.
					Vim donates money to children living in Uganda. You'll look
					so accepting and humanitarian just by using Vim, that you won't even have to 
					think about
					<span class="scare-text">actual social issues</span>.
					This leaves you free to go back to solving problems that really
					matter, like building
					<span class="scare-text">apps that incentivize breaking up protests</span>
					or
					<span class="scare-text">apps that crowd-source date conversations</span>.
				</p>
				<p>
					Don't get me wrong: I know you don't 
					<span class="scare-text">actually care</span>
					about human rights and social issues.
					All that matters is that you
					<span class="scare-text">look like you care</span>.
				</p>
			</div>
			<div class="second-column column image-column">
				<img id="vim-img" class="image" src="/img/charity.png" alt="ribbon" width="180" height="299">
			</div>
			<div style="clear: both;"></div>
		</div>
	</section>

	<a id="invite"></a>
	<section class="even">
		<div class="info-pane">
			<h2>Get an exclusive invite</h2>
			<p>
				Sign up now for a chance to get an
				<span class="scare-text">early-access invite</span>
				for Vim today.
			</p>
			<p>
				<span class="scare-text">Don't make the cut?</span>
				Guess you aren't ready for a
				<span class="scare-text">next-level</span>
				editor experience.
			</p>

			<script type="text/javascript">var RecaptchaOptions = { theme : 'clean' };</script>
			<form id="email-form">
				<input type="hidden" name="csrf_token" value="{{ .token }}">
				<input type="email" id="email" name="email" placeholder="dudebro@javascript.ninja">
				<script type="text/javascript"
				   src="http://www.google.com/recaptcha/api/challenge?k=6Lf_YO8SAAAAAK-0M2YYRkI4-B39E4jTqWm3UaUk">
				</script>
				<noscript>
				   <iframe src="http://www.google.com/recaptcha/api/noscript?k=6Lf_YO8SAAAAAK-0M2YYRkI4-B39E4jTqWm3UaUk"
					   height="300" width="500" frameborder="0"></iframe><br>
				   <textarea name="recaptcha_challenge_field" rows="3" cols="40">
				   </textarea>
				   <input type="hidden" name="recaptcha_response_field"
					   value="manual_challenge">
				</noscript>
				<input type="submit" id="submit">
			</form>
		</div>
	</section>
</body>
</html>
